.title {
    text-align: center;
    font-size: 40px;
}

.blog-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.blog-card {
    padding: 10px;
    background-color: lightgreen;
    border: 2px solid lightgray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.blog-card h3 {
    font-size: 20px;
    text-align: center;
}

.blog-card p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}