.nav-bar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
}

.nav-user img {
    width: 50px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}